**/.git
**/node_modules
**/target/debug
**/target/release/deps
**/target/release/build
**/target/.fingerprint
**/__pycache__
**/.venv
**/dist
**/.env
**/wheels
apps/*/docker-compose*.yaml
apps/*/.drone.yml
docs/
.claude/
.kiro/
.skills/
.vscode/
