lib/
source/
certs/
# IDE
.idea/
.vscode/
# macOS
*.swp
*.swo
.DS_Store

coverage/
logs/
*.log
.env
.env.local
#nodejs
node_modules/
apps/**/dist/

#rust
debug
release
.rustc_info.json
target/

# golang
.cache
.gocache/
.gopath/
bin/
*.exe
*.exe~
*.dll
*.so
*.dylib
go.work.sum
