APP_ENV=development
APP_PORT=9002

# Signal NATS — publish signals & notifications to trader-service-node
SIGNAL_NATS_URL=nats://localhost:16001
SIGNAL_NATS_USER=xxx
SIGNAL_NATS_PASS=xxx
SIGNAL_SUBJECT_PREFIX=sig.v1
SIGNAL_STRATEGY_SUBJECT_PREFIX=sig.v1.signal

# Upstream NATS — subscribe candle data from exchange-adapter-service
# Leave empty to use the signal NATS for both
UPSTREAM_NATS_URL=nats://xxx:15001
UPSTREAM_NATS_USER=xxx
UPSTREAM_NATS_PASS=xxx
UPSTREAM_SUBJECT_PREFIX=exchange

CANDLE_BUFFER_SIZE=1000
LOG_LEVEL=INFO

