# Basic
APP_ENV=development
APP_PORT=9003

# Database
DATABASE_URL=postgresql+asyncpg://trader_user:123456@localhost:15000/trader

# Cache & MQ
REDIS_URL=redis://localhost:16000/0
NATS_URL=nats://localhost:15002

# Downstream services
EXCHANGE_GRPC_URL=exchange-service:50051
# Auth (Casdoor)
CASDOOR_CLIENT_ID=7b474919541526399765
CASDOOR_CLIENT_SECRET=
CASDOOR_CERTIFICATE_PATH=/etc/ssl/casdoor_jwt_key.pem

# Encryption (32 bytes base64 recommended)
ENCRYPTION_KEY=nGD0Zxw37kTdBB/REw9Kz+sAkfD00whpzeUxKy57BRo=
